* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: italic;
    text-align: center;
    flex: auto;
}

.grid {

    position: relative;
    width: 600px;
    height: 600px;
    border: 2px solid black;
    margin: 24px;

    /* Creates the 3x3 grid layout */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);

}

/* The > symbol makes the code target only the boxes, not the dot. */
.box {

        border: 1px solid black;
    }

.dot {

    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border-style: none;
    background-color: red;
    display: none;

}